<div class="modal-dialog modal-sm">
    <div class="modal-content">
        <form #cityForm="ngForm" *ngIf="city">
            <div class="modal-header">
                <h4 class="modal-title">{{ "CITY" | translate }}</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="name">{{ "NAME" | translate }}</label>
                    <input type="text" name="name" class="form-control" placeholder="{{ 'NAME' | translate }}" [(ngModel)]="city.Name" required />
                </div>
                <div class="form-group">
                    <label for="address">{{ "ZIP" | translate }}</label>
                    <input type="text" name="zip" class="form-control" placeholder="{{ 'ZIP' | translate }}" [(ngModel)]="city.Zip" required />
                </div>
                <div class="form-group">
                    <label for="address">{{ "DISTRICT" | translate }}</label>
                    <select name="district" class="form-control" [(ngModel)]="city.IdDistrict" required>
                        <option *ngFor="let d of districts" [ngValue]="d.Id">{{d.Name}}</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" (click)="Save(cityForm)" [disabled]="!cityForm.form.valid">{{ "SAVE" | translate }}</button>
                <button type="submit" class="btn btn-default" (click)="Close()">{{ "CLOSE" | translate }}</button>
            </div>
        </form>
    </div>
</div>