<input type="button" value="New" *ngIf="!customer" (click)="New()" />

<div *ngIf="!customer">
    <div *ngFor="let customer of customers" (click)="Edit(customer)">
        {{customer.Name}} - {{customer.Address}}
    </div>
</div>

<div *ngIf="customer">
    <input type="button" value="New" *ngIf="!customer" (click)="Save()" />
    
    <div>
        {{ "NAME" | translate }}
        <input type="text" [(ngModel)]="customer.Name" />
    </div>
    <div>
        {{ "ADDRESS" | translate }}
        <input type="text" [(ngModel)]="customer.Address" />
    </div>
</div>