<form #customerForm="ngForm">
    <div class="form">
        <button type="submit" class="btn btn-primary" (click)="Save(customerForm)" [disabled]="!customerForm.form.valid">{{ "SAVE" | translate }}</button>
        <button type="submit" class="btn btn-danger" (click)="Delete()">{{ "DELETE" | translate }}</button>
        <button type="submit" class="btn btn-default" (click)="Close()">{{ "CLOSE" | translate }}</button>

        <div class="form-group">
            <label for="name">{{ "NAME" | translate }}</label>
            <input type="text" name="name" class="form-control" placeholder="{{ 'NAME' | translate }}" [(ngModel)]="customer.Name" required
            />
        </div>
        <div class="form-group">
            <label for="address">{{ "ADDRESS" | translate }}</label>
            <input type="text" name="address" class="form-control" placeholder="{{ 'ADDRESS' | translate }}" [(ngModel)]="customer.Address"
                required />
        </div>
        <div class="form-group">
            <label for="address">{{ "CITY" | translate }}</label>
            <ng-select name="city" [options]="cityOptions" placeholder="{{ 'CITY' | translate }}" [allowClear]="true" [(ngModel)]="customer.IdCity" required></ng-select>
        </div>
    </div>
</form>
