<input type="button" class="btn btn-primary" value="New" *ngIf="!customer" (click)="New()" />

<div *ngIf="!customer">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    {{ "NAME" | translate }}
                </th>
                <th>
                    {{ "ADDRESS" | translate }}
                </th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let customer of customers" (click)="Edit(customer)">
                <td>
                    {{customer.Name}}
                </td>
                <td>
                    {{customer.Address}}
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="form" *ngIf="customer">
    <input type="button" class="btn btn-primary" value="Save" (click)="Save()" />
    <input type="button" class="btn btn-default" value="Close" (click)="Close()" />

    <div class="form-group">
        <label for="name">{{ "NAME" | translate }}</label>
        <input type="text" id="name" class="form-control" placeholder="{{customer.Name}}" [(ngModel)]="customer.Name" />
    </div>
    <div class="form-group">
        <label for="address">{{ "ADDRESS" | translate }}</label>        
        <input type="text" id="address" class="form-control" placeholder="{{customer.Name}}" [(ngModel)]="customer.Address" />
    </div>
</div>