<div [hidden]="edit">
    <input type="button" class="btn btn-primary" value="New" (click)="New()" />

    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    {{ "NAME" | translate }}
                </th>
                <th>
                    {{ "ADDRESS" | translate }}
                </th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let customer of customers" (click)="Edit(customer)">
                <td>
                    {{customer.Name}}
                </td>
                <td>
                    {{customer.Address}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
<customers-detail *ngIf="customer" [hidden]="!edit" [customer]="customer" [isNew]="newCustomer" [cityOptions]="cityOptions" 
    (onClosed)="onClosed($event)" (onDeleted)="onDeleted($event)"></customers-detail>