<div class="row">
  <div class="col-md-12">
    <header></header>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <small>
      <ul class="nav nav-pills nav-stacked">
        <li role="presentation" routerLinkActive="active">
          <a routerLink="/customers">Customers</a>
        </li>
        <li role="presentation" routerLinkActive="active">
          <a routerLink="/invoices">Invoices</a>
        </li>
      </ul>
    </small>
  </div>
  <div class="col-md-10">
    <div class="loader" [hidden]="!onLoading"></div>
    <div [hidden]="onLoading">
      <router-outlet></router-outlet>      
    </div>
  </div>
</div>
