<div [hidden]="edit">
    <input type="button" class="btn btn-primary" value="New" (click)="New()" />

    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    {{ "NUMBER" | translate }}
                </th>
                <th>
                    {{ "CUSTOMER" | translate }}
                </th>
                <th>
                    {{ "EMISSIONDATE" | translate }}
                </th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let invoice of (invoices | searchInvoices: searchService.searchText)" (click)="Edit(invoice)">
                <td>
                    {{invoice.Number}}/{{invoice.Year}}
                </td>
                <td>
                    {{invoice.Customer.Name}}
                </td>
                <td>
                    {{invoice.EmissionDate | date: "dd/MM/yyyy"}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
<invoice-detail *ngIf="invoice" [hidden]="!edit" [invoice]="invoice" [isNew]="newInvoice" [validationEnabled]="invoiceValidationEnabled" 
    (onClosed)="onClosed($event)" (onDeleted)="onDeleted($event)"></invoice-detail>
