<div class="form-group">
    <label for="city">{{ "CITY" | translate }}</label>
    <div class="row">
        <div class="col-md-3">
            <div [ngClass]="{'select-cities': focus}">
                <input type="text" name="city" class="form-control" [ngClass]="{'input-field': focus}" placeholder="{{ 'CITY' | translate }}" [(ngModel)]="city.Name" (ngModelChange)="Search($event)"
                    (focus)="Focus()" />
                <div *ngIf="cities">
                    <ul class="cities-results">
                        <li *ngFor="let city of cities" (click)="Select(city)">
                            {{city.Name}} ({{city.District.Name}})
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>